// text styles
$header-font: "Aboreto", system-ui;


//  Marcellus, Garamond, Cormorant Garamond, Geist;

//colors
$nav-background: #44423E;
$background-color1: #7d7662;
$background-color2: #E1DBCB;
$background-color3: #EEEEEB;

$products-img: (
    "plants": "../img/products/plants.jpg",
    "pots": "../img/products/pots.jpg",
    "tools": "../img/products/tools.jpg",
    "gifts": "../img/products/gifts.jpg",
    "fertilisers": "../img/products/fertilisers.jpg"
)