.logo {
  height: 66px;
  width: 66px;
}

.navbar {
  background-color: #44423E;
  font-family: "Aboreto", system-ui;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

h1, h4 {
  font-family: "Aboreto", system-ui;
  font-weight: 128px;
  font-style: normal;
}

h2, h3, p {
  font-family: Garamond;
  font-weight: 40px;
  font-style: normal;
}

.header-title {
  height: 600px;
}

.full-width {
  background-size: cover; /* Scales image to fill container */
  background-position: center; /* Keeps image centered */
  background-repeat: no-repeat;
  min-height: 280px;
}

.products-header {
  height: 300px;
  background-position: top;
}

.index-content {
  height: 600px;
}
.index-content p {
  width: 300px;
}

.product-cards {
  height: 100%;
}

.plants-img div {
  background-image: url(../img/products/plants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plants-img {
    height: 424px;
  }
}
.pots-img div {
  background-image: url(../img/products/pots.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .pots-img {
    height: 424px;
  }
}
.tools-img div {
  background-image: url(../img/products/tools.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .tools-img {
    height: 424px;
  }
}
.gifts-img div {
  background-image: url(../img/products/gifts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .gifts-img {
    height: 424px;
  }
}
.fertilisers-img div {
  background-image: url(../img/products/fertilisers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .fertilisers-img {
    height: 424px;
  }
}
.plant-1-img div {
  background-image: url(../img/plants/plant-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-1-img {
    height: 360px;
  }
}
.plant-2-img div {
  background-image: url(../img/plants/plant-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-2-img {
    height: 360px;
  }
}
.plant-3-img div {
  background-image: url(../img/plants/plant-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-3-img {
    height: 360px;
  }
}
.plant-4-img div {
  background-image: url(../img/plants/plant-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-4-img {
    height: 360px;
  }
}
.plant-5-img div {
  background-image: url(../img/plants/plant-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-5-img {
    height: 360px;
  }
}
.plant-6-img div {
  background-image: url(../img/plants/plant-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-6-img {
    height: 360px;
  }
}
.plant-7-img div {
  background-image: url(../img/plants/plant-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-7-img {
    height: 360px;
  }
}
.plant-8-img div {
  background-image: url(../img/plants/plant-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-8-img {
    height: 360px;
  }
}
.plant-9-img div {
  background-image: url(../img/plants/plant-9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-9-img {
    height: 360px;
  }
}
.plant-10-img div {
  background-image: url(../img/plants/plant-10.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-10-img {
    height: 360px;
  }
}
.plant-11-img div {
  background-image: url(../img/plants/plant-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-11-img {
    height: 360px;
  }
}
.plant-12-img div {
  background-image: url(../img/plants/plant-12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-12-img {
    height: 360px;
  }
}
.plant-13-img div {
  background-image: url(../img/plants/plant-13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-13-img {
    height: 360px;
  }
}
.plant-14-img div {
  background-image: url(../img/plants/plant-14.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-14-img {
    height: 360px;
  }
}
.plant-15-img div {
  background-image: url(../img/plants/plant-15.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-15-img {
    height: 360px;
  }
}
.plant-16-img div {
  background-image: url(../img/plants/plant-16.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-16-img {
    height: 360px;
  }
}
.plant-17-img div {
  background-image: url(../img/plants/plant-17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-17-img {
    height: 360px;
  }
}
.plant-18-img div {
  background-image: url(../img/plants/plant-18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-18-img {
    height: 360px;
  }
}
.plant-19-img div {
  background-image: url(../img/plants/plant-19.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-19-img {
    height: 360px;
  }
}
.plant-20-img div {
  background-image: url(../img/plants/plant-20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100px;
  height: 320px;
}

@media (min-width: 789px) {
  .plant-20-img {
    height: 360px;
  }
}
.carousel-img, .video-content {
  height: 300px;
}

@media (min-width: 789px) {
  .carousel-img {
    height: 500px;
  }
}
@media (min-width: 943px) {
  .carousel-img {
    height: 680px;
  }
}
.about-content, .form-contact {
  background-color: #7d7662;
}

.contact-btn {
  font-family: "Aboreto", system-ui;
  background: #E1DBCB;
  height: 48px;
  width: 400px;
}

.video-body {
  background-color: #EEEEEB;
}

.footer {
  background-color: #E1DBCB;
}
.footer p {
  font-family: "Aboreto", system-ui;
}/*# sourceMappingURL=styles.css.map */